%h3.search-results=t 'static_page.search.title'
.search-control
  .lead=t 'static_page.search.advanced_search'
  %ul{class: "nav nav-tabs", id: "search"}
    %li#nav-articles= link_to 'Статьи', '#articles', 'data-toggle' => 'tab'
  .tab-content
    %div{class: "tab-pane", id: "articles"}
      = render partial: 'articles_search_form'
.result
  - results.each do |result|
    = render partial: 'article_search_result', locals: { article: result } if result['_type'] == 'article'

= will_paginate results unless results.empty?


