%h2.category-name= UnicodeUtils.upcase(category.title)

.posts-body
  - articles.each do |article|
    = render partial: 'articles/article_description', locals: { article: article }

= will_paginate articles