<p><%=t 'devise.mailer.registration.welcome', email: @email %></p>

<p><%=t 'devise.mailer.registration.body' %></p>

<p><%= link_to t('devise.mailer.registration.link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
