<footer class="container" id="footer">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span4">
          <small>
            Anifag DB
            <!--[if lte IE 8]>
              <span style='filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); display: inline-block;''>
            <![endif]-->
            <span style='-webkit-transform: rotate(180deg); 
                         -moz-transform: rotate(180deg); 
                         -o-transform: rotate(180deg); 
                         -khtml-transform: rotate(180deg); 
                         -ms-transform: rotate(180deg); 
                         transform: rotate(180deg); 
                         display: inline-block;'>
              &copy;
            </span>
            <!--[if lte IE 8]></span><![endif]-->
            <%= Time.current.year %>
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>
