<header class='navbar navbar-static-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <%= link_to 'AnifagDB', root_path, class: 'brand' %>
      <div class='nav-collapse collapse pull-right'>
      </div>
    </div>
  </div>
</header>
<div class='container', id='header'>
  <%= image_tag 'rails.png', class: "header-image" %>
</div>